/* You can add global styles to this file, and also import other style files */
body{
  justify-content: center;
  display: flex;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
main{
  width: 100%;
  padding: 15px;
  background-color: #ededed  ;
}
